# Virtual environments
myenv/
venv/
.venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Environment variables
.env

# Trained models
*.pkl
*.joblib
models/*.pkl
models/*.joblib
backend/models/*.joblib
backend/models/*.pkl
!backend/models/.gitkeep

# Processed data
data/processed/*
backend/data/processed/*
!backend/data/processed/.gitkeep

# Pytest & caches
.pytest_cache/


# Logs
*.log

# OS
.DS_Store

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local